.avatar img{
    border-radius: 50%;
}

.skill-list{
}

.skill-list li{
    display: grid;
    grid-template-columns: 1fr 45px auto;
    grid-gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.skill-list li input{
    text-align: center;
}

.tab-panel{
    display: none;
}

.table{
    width:100%
}

.sheet-dice-menu{
    display: grid;
    grid-template-columns: 65px auto auto;
    grid-gap: 5px;
    align-items: center;
}

.sheet-inventory-add-form{
    display: grid;
    grid-template-columns: 1fr auto 80px auto;
    grid-gap: 5px;
    align-items: center;
}